<% include header %>

<ul class="pagination" <%=displayNone%>>
    <li class="disabled"><a href="#!"><i class="material-icons">Visualizar:</i></a></li>
    <li class="waves-effect active"><a href="/cirurgia">Cirurgias</a></li>
    <li class="waves-effect"><a href="/sala">Salas</a></li>
    <li class="waves-effect"><a href="/cliente">Clientes</a></li>
    <li class="waves-effect"><a href="/medico">Médicos</a></li>
</ul>
<!-- Modal Trigger -->
<button data-target="modalnovo" class="btn modal-trigger blue accent-4" <%=displayNone%> >Adicionar</button>

<!-- Modal Structure -->
<div id="modalnovo" class="modal">
    <div class="modal-content">
        <h4>Cadastrar nova cirurgia</h4>
        <div class="row">
            <form class="col s12" action="/cirurgia/novo" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <select name="cliente_idcliente">
                            <option value="" disabled selected>Escolha um cliente</option>
                            <% for(cliente of clientes) { %>
                            <option value="<%=cliente.idcliente%>">
                                <%=cliente.nome%>
                            </option>
                            <%}%>
                        </select>
                        <label>Cliente</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="medico_idmedico">
                            <option value="" disabled selected>Escolha um médico</option>
                            <% for(medico of medicos) { %>
                            <option value="<%=medico.idmedico%>">
                                <%=medico.nome%>
                            </option>
                            <%}%>
                        </select>
                        <label>Médico</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="sala_idsala">
                            <option value="" disabled selected>Escolha uma sala</option>
                            <% for(sala of salas) { %>
                            <option value="<%=sala.idsala%>">
                                Sala
                                <%=sala.numero%> -
                                <%=sala.andar%>º Andar
                            </option>
                            <%}%>
                        </select>
                        <label>Sala</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="date" class="validate" name="data">
                        <label for="data">Data</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input type="time" class="validate" name="hora">
                        <label for="hora">Horário</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="waves-effect btn">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th style="display: none;">ID</th>
            <th>Cliente</th>
            <th>Médico</th>
            <th>Sala</th>
            <th>Data</th>
            <th>Hora</th>
            <th>Feedback</th>
            <th>Operações</th>
        </tr>
    </thead>

    <tbody>
        <% for(cirurgia of cirurgias) {%>
        <tr>
            <td style="display: none;">
                <%=cirurgia.idcirurgia %>
            </td>
            <td>
                <%=cirurgia.cliente %>
            </td>
            <td>
                <%=cirurgia.medico %>
            </td>
            <td>
                <%=cirurgia.sala %>
            </td>
            <td>
                <%=cirurgia.dia %>/<%=cirurgia.mes %>/<%=cirurgia.ano %>
            </td>
            <td>
                <%=cirurgia.hora %>
            </td>
            <td>
                <%=cirurgia.feedback %>
            </td>
            <td>
                <% let index = cirurgias.indexOf(cirurgia)%>
                <button class="btn cyan darken-3 modal-trigger" data-target="<%='modal'+index%>">Editar</button>
                <div id="<%='modal'+index%>" class="modal">
                    <h4>Editar</h4>
                    <div class="row">
                        <form class="col s12" action="/cirurgia/edita" method="POST">
                            <input type="text" name="idcirurgia"  value="<%=cirurgia.idcirurgia %>" style="display:none">
                            <div class="row">
                                <div class="input-field col s6" <%=displayNone%> >
                                    <select name="cliente_idcliente">
                                        <option value="<%=cirurgia.idcliente%>" selected><%=cirurgia.cliente%></option>
                                        <% for(cliente of clientes) { %>
                                        <option value="<%=cliente.idcliente%>">
                                            <%=cliente.nome%>
                                        </option>
                                        <%}%>
                                    </select>
                                    <label>Cliente</label>
                                </div>
                                <div class="input-field col s6" <%=displayNone%> >
                                    <select name="medico_idmedico">
                                        <option value="<%=cirurgia.idmedico%>" selected><%=cirurgia.medico%></option>
                                        <% for(medico of medicos) { %>
                                        <option value="<%=medico.idmedico%>">
                                            <%=medico.nome%>
                                        </option>
                                        <%}%>
                                    </select>
                                    <label>Médico</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6" >
                                    <select name="sala_idsala">
                                        <option value="<%=cirurgia.idsala%>" selected><%=cirurgia.sala%></option>
                                        <% for(sala of salas) { %>
                                        <option value="<%=sala.idsala%>">
                                            Sala
                                            <%=sala.numero%> -
                                            <%=sala.andar%>º Andar
                                        </option>
                                        <%}%>
                                    </select>
                                    <label>Sala</label>
                                </div>
                                <div class="input-field col s6" <%=displayNone%> >
                                    <input type="date" class="validate" name="data" value="<%=cirurgia.ano%>-<%=cirurgia.mes%>-<%=cirurgia.dia%>">
                                    <label for="data">Data</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12" <%=displayNone%> >
                                    <input type="time" class="validate" name="hora" value="<%=cirurgia.hora%>">
                                    <label for="hora">Horário</label>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" class="validate" name="feedback" value="<%=cirurgia.feedback%>">
                                    <label for="feedback">Feedback</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="waves-effect btn">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <form action="/cirurgia/deleta" method="POST" style="display:inline;">
                    <input type="text" name="rowId" value="<%=cirurgia.idcirurgia%>" style="display:none;">
                    <button type="submit" class="btn red accent-4" onclick="return confirm('Tem certeza que deseja apagar?')" <%=displayNone%> >Deletar</button>
                </form>
            </td>
        </tr>
        <%}%>
    </tbody>
</table>
<% include footer %>