<% include header %>

<ul class="pagination" <%=displayNone%>>
    <li class="disabled"><a href="#!"><i class="material-icons">Visualizar:</i></a></li>
    <li class="waves-effect"><a href="/cirurgia">Cirurgias</a></li>
    <li class="waves-effect"><a href="/sala">Salas</a></li>
    <li class="waves-effect active"><a href="/cliente">Clientes</a></li>
    <li class="waves-effect"><a href="/medico">Médicos</a></li>
</ul>
<!-- Modal Trigger -->
<button data-target="modalnovo" class="btn modal-trigger blue accent-4" <%=displayNone%> >Adicionar</button>

<!-- Modal Structure -->
<div id="modalnovo" class="modal">
    <div class="modal-content">
        <h4>Cadastrar novo cliente</h4>
        <div class="row">
            <form class="col s12" action="/cliente/novo" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="nome">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="cpf">
                        <label for="crm">CPF</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="date" class="validate" name="nascimento">
                        <label for="nascimento">Data de Nascimento</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="medico_idmedico">
                            <option value="" disabled selected>Escolha um médico</option>
                            <% for(medico of medicos) { %>
                            <option value="<%=medico.idmedico%>">
                                <%=medico.nome%>
                            </option>
                            <%}%>
                        </select>
                        <label>Médico</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="waves-effect btn">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th style="display: none;">ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>CPF</th>
            <th <%=displayNone%> >Operações</th>
        </tr>
    </thead>

    <tbody>
        <% for(cliente of clientes) {%>
        <tr>
            <td style="display: none;">
                <%=cliente.idcliente %>
            </td>
            <td>
                <%=cliente.nome %>
            </td>
            <td>
                <%=cliente.nascimentoDia %>/<%=cliente.nascimentoMes %>/<%=cliente.nascimentoAno %>
            </td>
            <td>
                <%=cliente.cpf %>
            </td>
            <td <%=displayNone%> >
                <% let index = clientes.indexOf(cliente)%>
                <button class="btn cyan darken-3 modal-trigger" data-target="<%='modal'+index%>">Editar</button>
                <div id="<%='modal'+index%>" class="modal">
                    <h4>Editar</h4>
                    <div class="row">
                        <form class="col s12" action="/cliente/edita" method="POST">
                            <input type="text" name="idcliente" value="<%=cliente.idcliente %>" style="display:none">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" class="validate" name="nome" value="<%=cliente.nome %>">
                                    <label for="nome">Nome</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="text" class="validate" name="cpf" value="<%=cliente.cpf %>">
                                    <label for="crm">CPF</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="date" class="validate" name="nascimento" value="<%=cliente.nascimentoAno %>-<%=cliente.nascimentoMes %>-<%=cliente.nascimentoDia %>">
                                    <label for="nascimento">Data de Nascimento</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="waves-effect btn">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <form action="/cliente/deleta" method="POST" style="display:inline;">
                    <input type="text" name="rowId" value="<%=cliente.idcliente%>" style="display:none;">
                    <button type="submit" class="btn red accent-4" onclick="return confirm('Tem certeza que deseja apagar?')">Deletar</button>
                </form>
            </td>
        </tr>
        <%}%>
    </tbody>
</table>
<% include footer %>