</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="./js/index.js"></script>
<script>
    function confirmSubmit(button) {
        if(confirm('Deseja realmente apagar?')) {
            button.submit();
        } else {
            return false;
        }
    }
</script>
</body>

</html>