<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="./css/style.css" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
        crossorigin="anonymous">
  <title>Médicos</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper" id="navbar">
      <a href="/cirurgia" class="brand-logo">Menos Médicos</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
      </ul>
      <ul class="right" >
        <li><i class="fas fa-user"></i></li>
        <li><h5 style="margin-left:.2em;margin-right: 1em;"><%=usuario%></h5></li>
        <li>
          <form action="/logoff">
            <button class="btn" type="submit">Logoff</button>
          </form>
        </li>
        
      </ul>
      <% displayNone = "" %>
      <% if(tipo == 'medico') displayNone = "style=display:none" %>
    </div>
  </nav>
  <div class="pagecontent">