<% include header %>

<ul class="pagination" <%=displayNone%>>
    <li class="disabled"><a href="#!"><i class="material-icons">Visualizar:</i></a></li>
    <li class="waves-effect"><a href="/cirurgia">Cirurgias</a></li>
    <li class="waves-effect" ><a href="/sala">Salas</a></li>
    <li class="waves-effect"><a href="/cliente">Clientes</a></li>
    <li class="waves-effect active"><a href="/medico">Médicos</a></li>
</ul>
<!-- Modal Trigger -->
<button data-target="modalnovo" class="btn modal-trigger blue accent-4">Adicionar</button>

<!-- Modal Structure -->
<div id="modalnovo" class="modal">
    <div class="modal-content">
        <h4>Cadastrar novo médico</h4>
        <div class="row">
            <form class="col s12" action="/medico/novo" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="nome">
                        <label for="nome">Nome</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="date" class="validate" name="nascimento">
                        <label for="nascimento">Data de Nascimento</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="number" class="validate" name="crm">
                        <label for="crm">CRM</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" class="validate" name="salario">
                        <label for="password">Salário</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" class="validate" name="usuario">
                        <label for="usuario">Usuario</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="password" class="validate" name="senha">
                        <label for="senha">Senha</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="waves-effect btn">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th style="display: none;">ID</th>
            <th>Nome</th>
            <th>Data de Nascimento</th>
            <th>CRM</th>
            <th>Salário</th>
            <th>Usuário</th>
            <th>Senha</th>
            <th>Lista de Clientes</th>
            <th>Operações</th>
        </tr>
    </thead>

    <tbody>
        <% for(medico of medicos) {%>
        <tr>
            <td style="display: none;">
                <%=medico.idmedico %>
            </td>
            <td>
                <%=medico.nome %>
            </td>
            <td>
                <%=medico.nascimentoDia %>/<%=medico.nascimentoMes %>/<%=medico.nascimentoAno %>
            </td>
            <td>
                <%=medico.crm %>
            </td>
            <td>
                <%=medico.salario %>
            </td>
            <td>
                <%=medico.usuario %>
            </td>
            <td>
                <%=medico.senha %>
            </td>
            <td>
                <% for(cliente of listaDeClientes) {%>
                    <% if(cliente.medico == medico.nome) { %>
                        <%=cliente.cliente%><br>
                    <%}%>
                <%}%>
            </td>
            <td>
                <% let index = medicos.indexOf(medico)%>
                <button class="btn cyan darken-3 modal-trigger" data-target="<%='modal'+index%>">Editar</button>
                <div id="<%='modal'+index%>" class="modal">
                    <h4>Editar</h4>
                    <div class="row">
                        <form class="col s12" action="/medico/edita" method="POST">
                            <input type="text" name="idmedico"  value="<%=medico.idmedico %>" style="display:none">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" class="validate" name="nome" value="<%=medico.nome %>">
                                    <label for="nome">Nome</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="date" class="validate" name="nascimento" value="<%=medico.nascimentoAno %>-<%=medico.nascimentoMes %>-<%=medico.nascimentoDia %>">
                                    <label for="nascimento">Data de Nascimento</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="number" class="validate" name="crm" value="<%=medico.crm %>">
                                    <label for="crm">CRM</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="number" class="validate" name="salario" step="0.01" value="<%=medico.salario %>">
                                    <label for="password">Salário</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="text" class="validate" name="usuario" value="<%=medico.usuario %>">
                                    <label for="usuario">Usuario</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="text" class="validate" name="senha" value="<%=medico.senha %>">
                                    <label for="senha">Senha</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="waves-effect btn">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <form action="/medico/deleta" method="POST" style="display:inline;">
                    <input type="text" name="rowId" value="<%=medico.idmedico%>" style="display:none;">
                    <button type="submit" class="btn red accent-4" onclick="return confirm('Tem certeza que deseja apagar?')">Deletar</button>
                </form>
            </td>
        </tr>
        <%}%>
    </tbody>
</table>
<% include footer %>