<% include header %>

<ul class="pagination" <%=displayNone%>>
    <li class="disabled"><a href="#!"><i class="material-icons">Visualizar:</i></a></li>
    <li class="waves-effect"><a href="/cirurgia">Cirurgias</a></li>
    <li class="waves-effect active"><a href="/sala">Salas</a></li>
    <li class="waves-effect"><a href="/cliente">Clientes</a></li>
    <li class="waves-effect"><a href="/medico">Médicos</a></li>
</ul>
<!-- Modal Trigger -->
<button data-target="modalnovo" class="btn modal-trigger blue accent-4">Adicionar</button>

<!-- Modal Structure -->
<div id="modalnovo" class="modal" >
    <div class="modal-content">
        <h4>Cadastrar nova sala</h4>
        <div class="row">
            <form class="col s12" action="/sala/novo" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="number" class="validate" name="andar">
                        <label for="nome">Andar</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="number" class="validate" name="numero">
                        <label for="nascimento">Número</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="waves-effect btn">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table <%=displayNone %>>
    <thead>
        <tr>
            <th style="display: none;">ID</th>
            <th>Andar</th>
            <th>Número</th>
            <th>Operações</th>
        </tr>
    </thead>

    <tbody>
        <% for(sala of salas) {%>
        <tr>
            <td style="display: none;">
                <%=sala.idsala %>
            </td>
            <td>
                <%=sala.andar %>
            </td>
            <td>
                <%=sala.numero %>
            </td>
            <td>
                <% let index = salas.indexOf(sala)%>
                <button class="btn cyan darken-3 modal-trigger" data-target="<%='modal'+index%>">Editar</button>
                <div id="<%='modal'+index%>" class="modal">
                    <h4>Editar</h4>
                    <div class="row">
                        <form class="col s12" action="/sala/edita" method="POST">
                            <input type="text" name="idsala"  value="<%=sala.idsala %>" style="display:none">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input type="number" class="validate" name="andar" value="<%=sala.andar %>">
                                    <label for="nome">Andar</label>
                                </div>
                                <div class="input-field col s6">
                                    <input type="number" class="validate" name="numero" value="<%=sala.numero %>">
                                    <label for="nascimento">Número</label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="waves-effect btn">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
                <form action="/sala/deleta" method="POST" style="display:inline;">
                    <input type="text" name="rowId" value="<%=sala.idsala%>" style="display:none;">
                    <button type="submit" class="btn red accent-4" onclick="return confirm('Tem certeza que deseja apagar?')">Deletar</button>
                </form>
            </td>
        </tr>
        <%}%>
    </tbody>
</table>
<% include footer %>